/* Estilo para a imagem responsiva */
.responsive-image {
  max-width: 100%;
  height: auto;
}

/* Estilo para a seção de personagens */
.chars {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para os filtros */
.filters input,
.filters select {
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilos para o rodapé */
footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #333;
  color: #fff;
}

footer p {
  margin: 0;
}
